*{
  margin-top: 20px;
  background-color: #f1f4f9;
    
}

video {
  width: calc(50%);
  height: calc(50%);
  margin-left: 100px;
  margin-top: 50px;
}

canvas{
  width: calc(50%);
  height: calc(50%);
}



