* {
  margin-top: 20px;
  background-color: #f1f4f9;

}

video {
  width: calc(70%);
  height: calc(70%);
  margin-left: 50px;
  margin-top: 50px;
  border-radius: 10px;
}

canvas {
  width: calc(10%);
  height: calc(10%);
}