*{
    margin-top: 20px;
    background-color: #f1f4f9;
    
}

video{
    border: 2px solid #000;
    padding: 10px;
}

/*section{
    display: flex;
    justify-content: center;
    align-items: center;
}*/