*{
    margin-top: 20px;
    background: #f1f4f9;
    
}

button{
    background-color: #33b924 !important;
    color: #000 !important;
    font-weight: bold !important;
}

button:hover{
    background-color: #0d6803c4;    
}

